@font-face {
    font-family: Quicksand;
    src: url("../media/fonts/Quicksand-VariableFont_wght.woff");
}

@font-face {
    font-family: BagelFatOne;
    src: url("../media/fonts/BagelFatOne-Regular.woff2");
}